.navbar{
  height: 50px;
  border-bottom: 0.5px solid rgb(98, 94, 147);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.wrapper {
    width: 100%;
    padding: 20px;
    background: rgb(163, 159, 201);
    align-items: center;
    justify-content: flex-end;
    flex-direction:row;
    display: flex;
}


.input_wrapper{
    display: flex;
    justify-content: flex-end;
    width: 35%;        
}   
    input {
        border: none;
        outline: none;
        height: 20px;
        
        &::placeholder {
        font-size: 12px;
        }
    }       
    
    .items{    
        display: flex;
        justify-content: flex-end; 
        width: 35%;   
    }
    
    .item{
        display: flex;
        justify-content: space-around;
        width: 30%;        
    }

    .icon{
        color: white;
        font-size: 50px;
        cursor: pointer;    
    }